*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
}
hr{
    border-color: black;
    margin-top: 0.5em;
}
header{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #133f58;
}
.container{
     display: flex;
    align-items: center;
    padding: 0px 10px;
}
.tamanhopag{
    width: 100%;
}
header img{
    width: 40px;
    /* padding: 0px 20px; */
}
header .container div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menuweb{
    display: none;
}
.logo{
    width: 180px;
}
#menu{
    position: absolute;
    top: 5.5em;
    width: 100%;
    background-color: #133f58;
    left: 0;
    display: none;
}
#menu ul{
    flex-direction: column;
    height: 200px;
    margin-left: 1em;
}
#menu a{
    display: block;
    padding: 0.5em 0;

}


/* Começo Perfil de Usuário */

main{
    /* background-color: #143F59; */
    width: 100%;
    height: 170px;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.descricao{
    background-color:#133f58;
    height: 180px;
}


.descricao h1{
    color: #FF5839;
    justify-content: center;
    font-size:1em;
}

.descricao h2{
    color: #FF5839;
    justify-content: center;
    font-size:1em;

}

.perfil img{
    width: 24%;
    height: 98px;

   
}

.configuracoes img{
   width: 40px;
   height:30px;
   margin-bottom: 2em;
}

.configuracoes{
    justify-content: flex-end;
    display: flex;
}

.opcoes{
    background-color: #FFFBFE;
    width: 100%;
    height: 320px;
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.op{
    background-color: #133f58;
    width: 75%;
    margin: 0.8em;
    border-radius: 0.8em;
    display: flex;
    justify-content: space-between;
}
.op a{
    text-align: right;
    margin-right: 0.4em;
    margin-top: 0.2em;
}

.op img{
    height: 20px;
    justify-content: flex-end;
}


.op h3{
    color: #FF5839;
    font-weight: lighter;
    justify-content: flex-start;
}

.opc{
    background-color: #FF5839;
    width: 75%;
    margin: 0.8em;
    border-radius: 0.8em;
}

.opc h3{
    color:#133f58;
}

.icon{
    height: 22px;
    margin-left: 0.5em;
    margin-top: 0.2em;
}
/*Fim Perfil de Usúario */


/* Página encontre professor */
.filtros{
    height: 100px;
}
main hr{
    border-color: #cccfd1;
}
.prof{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.prof h2{
    margin-left: 0.2em;
    color: black;
    text-transform: initial;
    font-weight: lighter;
}
.professores h2{
    padding: 3em 0;
    text-align: start;
}
.perfil_texto{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.perfil_texto img{
    padding: 1em 0;
}
.perfil_texto a{
    margin-right: 6em;
}
.valor_nacionalidade{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    padding: -2em;
  
}
main div .prof_encontrado{
    align-items: center;
    border-radius: 10%;
}
 .box{
    border-style: solid;
    border-color: black;
    border-width: 0.09em;
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: row;
    padding: 2em;
    
}
main article p{
    width: 50%;
    height: 90%;
    text-align: justify;
    color: black;
    text-transform: initial;
    font-size: 0.6em;
}
main article h2{
    font-size: 1em;
}
main article img{
    width: 2.5em;
}
article {
    display: flex;
    margin: 1em;
}
.botao_vermais{
    width: 200px;
    height: 3em;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fim página encontre professor */
/* Começo Central de Ajuda */
.centralizar{
    display: flex;
    justify-content: center;
    width: 95%;

}
.laranja{
    width: 425px;
    display: flex;
    flex-direction: column;

}
.laranja h1{
    font-size: 2em;
    color: #FF5839 ;
    text-transform: initial;
    text-align: start;
    margin-bottom: 20px;
}
.laranja h2{
    font-size: 1.5em;
    color: #FF5839 ;
    text-transform: initial;
}
.containerCA{
    width: 95%;
    justify-content: flex-start;
    margin-top: 20px;
    /* background-color: khaki; */
}
.top{
    margin-top: 10em;
}
.radius{
    align-items: center;
    border-radius: 10%;
    border-color: #133f58;
    border-width: 0.3em;

}
.square{
    list-style-type:square;
}
article div p{
    color: black;
    text-transform: initial;
    text-align: initial;
    width: 100%;
    padding: 0.7em 0;
    font-size: 0.8em;

}
article div li{
    display: flex;
    align-items: center;
}
.radius h4{
    color: #FF5839;

}
.lista{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}

/* Fim Central de Ajuda */
/* começo footer */

footer{
    width: 100%;
    height: 150px;
    background-color: #133f58;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0em;
}
.containerf{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
footer h3{
    font-size: 1.1em;
    text-transform: initial;
    color: #697076;
}
footer h4{
    font-size: 0.9em;
    text-transform: initial;
    color: #697076;
}
footer img{
    width: 2.4em;
}
/* fim */
@media(min-width: 799px){
    header{
        width: 800px;
    }
    #menu{
        display: flex;
        flex-direction: row;
        width: 100%
    }
    #menu ul{
        height: 50px;
    }
    #menu ul li {
         display: inline; }
    #menu ul li a {
        font-size: 1.4em;
        padding: 2px 22px;
        display: inline;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .menuweb{
        display: flex;
        background-color: #133f58;
        width: 800px;
        justify-content: center;
        padding: 0.5em ;
    }
    .laranja h1{
    width: 70%;
    padding: 0 2em;
    margin-top: 380px;
    font-size: 2.6em;
}
    .radius h4{
    font-size: 3em;

}
    .laranja h2{
    font-size: 2.4em;
    padding: 0 0 1em 0;
    font-weight: normal;
}
    article div p {
    font-size: 1.5em;
}
    .box{
    height: 500px;
    
}

    .botao_menu{
    display: none;
}
    footer h3{
    font-size: 2em;
}
    footer h4{
    font-size: 1.4em;
}
    footer img{
    width: 3em;
}
    footer{
    width: 800px;
}
}
@media(min-width: 1365px){
    header{
        width: 1366px;
    }
    #menu{
        display: flex;
        flex-direction: row;
    }
    #menu ul{
        height: 50px;
    }
    #menu ul li {
         display: inline; }
    #menu ul li a {
        font-size: 1.5em;
        margin-right: 10px;
        padding: 2px 65px;
        display: inline;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .laranja h1{
        font-size: 3em;
        padding: 1 0.9em;
    }
    article div p {
    font-size: 1.5em;
    padding: 1.4em 0;
    }  
    .botao_menu{
        display: none;
    }
    .menuweb{
        display: flex;
        background-color: #133f58;
        width: 1366px;
        justify-content: center;
        padding: 0.5em ;
    }
    main{
        width: 1366px;
    }
    footer{
        width: 1366px;
    }
    footer h3{
        font-size: 2.4em;
    }
    footer h4{
        font-size: 1.9em;
    }
    footer img{
        width: 4em;
    }
    }
