*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
}
hr{
    border-color: black;
    margin-top: 0.5em;
}
header{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #133f58;
}
.container{
     display: flex;
    align-items: center;
    padding: 0px 10px;
}
.tamanhopag{
    width: 100%;
}
header img{
    width: 40px;
    /* padding: 0px 20px; */
}
header .container div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menuweb{
    display: none;
}
.logo{
    width: 180px;
}
#menu{
    position: absolute;
    top: 5.5em;
    width: 100%;
    background-color: #133f58;
    left: 0;
    display: none;
}
#menu ul{
    flex-direction: column;
    height: 200px;
    margin-left: 1em;
}
#menu a{
    display: block;
    padding: 0.5em 0;

}


/* Começo Perfil de Usuário */

main{
    /* background-color: #143F59; */
    width: 100%;
    height: 170px;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.descricao{
    background-color:#133f58;
    height: 180px;
}


.descricao h1{
    color: #FF5839;
    justify-content: center;
    font-size:1em;
}

.descricao h2{
    color: #FF5839;
    justify-content: center;
    font-size:1em;

}

.perfil img{
    width: 24%;
    height: 98px;

   
}

.configuracoes img{
   width: 40px;
   height:30px;
   margin-bottom: 2em;
}

.configuracoes{
    justify-content: flex-end;
    display: flex;
}

.opcoes{
    background-color: #FFFBFE;
    width: 100%;
    height: 320px;
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.op{
    background-color: #133f58;
    width: 75%;
    margin: 0.8em;
    border-radius: 0.8em;
    display: flex;
    justify-content: space-between;
}
.op a{
    text-align: right;
    margin-right: 0.4em;
    margin-top: 0.2em;
}

.op img{
    height: 20px;
    justify-content: flex-end;
}


.op h3{
    color: #FF5839;
    font-weight: lighter;
    justify-content: flex-start;
}

.opc{
    background-color: #FF5839;
    width: 75%;
    margin: 0.8em;
    border-radius: 0.8em;
}

.opc h3{
    color:#133f58;
}

.icon{
    height: 22px;
    margin-left: 0.5em;
    margin-top: 0.2em;
}
/*Fim Perfil de Usúario */


/* Página encontre professor */
.filtros{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding: 2em 2em;

}
.filtros p{
color: black;
border-style: solid;
border-radius: 10%;
border-width: 0.08em;
}
main hr{
    border-color: #cccfd1;
}
.prof{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.prof h2{
    margin-left: 0.2em;
    color: black;
    text-transform: initial;
    font-weight: lighter;
}
.professores h2{
    padding: 3em 0;
    text-align: start;
}
.perfil_texto{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.perfil_texto img{
    padding: 1em 0;
}
.perfil_texto a{
    margin-right: 6em;
}
.valor_nacionalidade{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    padding: -2em;
  
}
main div .prof_encontrado{
    align-items: center;
    border-radius: 10%;
}
 .box{
    border-style: solid;
    border-color: black;
    border-width: 0.09em;
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: row;
    padding: 2em;
    
}
main article p{
    width: 50%;
    height: 90%;
    text-align: justify;
    color: black;
    text-transform: initial;
    font-size: 0.6em;
}
main article h2{
    font-size: 1em;
}
main article img{
    width: 2.5em;
}
article {
    display: flex;
    margin: 1em;
}
.botao_vermais{
    width: 200px;
    height: 3em;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fim página encontre professor */
/* Começo Central de Ajuda */
.centralizar{
    display: flex;
    justify-content: center;
    width: 95%;

}
.laranja{
    width: 425px;
    display: flex;
    flex-direction: column;

}
.laranja h1{
    font-size: 2em;
    color: #FF5839 ;
    text-transform: initial;
    text-align: start;
    margin-bottom: 20px;
}
.laranja h2{
    font-size: 1.5em;
    color: #FF5839 ;
    text-transform: initial;
}
.containerCA{
    width: 95%;
    justify-content: flex-start;
    margin-top: 20px;
    /* background-color: khaki; */
}
.top{
    margin-top: 10em;
}
.radius{
    align-items: center;
    border-radius: 10%;
    border-color: #133f58;
    border-width: 0.3em;

}
.square{
    list-style-type:square;

    
}
article div p{
    color: black;
    text-transform: initial;
    text-align: initial;
    width: 100%;
    padding: 0.7em 0;
    font-size: 0.8em;
}
article div li{
    display: flex;
    align-items: center;
}
.radius h4{
    color: #FF5839;

}
.lista{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}

/* Fim Central de Ajuda */
/* pagina pagamentos */
.escolha_aula{
    width: 85%;
    height: 1.4em;
    background-color:#13;
    margin-top: 1.5em;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 2.3em;

}
.escolha_aula h5 {
    color: #FF5839;
    margin-left: 0.5em;
}   

.escolha_aula p{
    color: #FF5839;
    font-size: 15px;
    padding: 15px 50px;
    font-weight: bold;
}
.container_aulas{
    width: 85%;
    height: 6.5em;
    background-color: #133f58;
    border-radius: 20px;
    margin: 0 auto; 
    margin-top: 3em;
}
.container_aulas img{
    width: 5em;
    height: 3.6em;
    margin-top: 1.5em;
    margin-left: 0.3em;
    
}
.disponiveis{
    width: 85%;
    height: 1.4em;
    background-color:#133f58;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 2.3em;
    font-size: 0.9em;
}
.disponiveis h5{
    color: #FF5839;
}

.campo{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    
}
.campo p{
    color: #FF5839;
    font-size: 15px;
    font-weight: bold;
    
} 
.campo label{
    color: #FF5839;
    font-weight: bold;
    position: absolute;
    margin-left: 0.2em;
}
.campo select{
    background-color: #133f58;
    width: 10em;
    height: 2em;
    border-radius: 10px;
    margin-top: 2.8em;

}
.campo-calendario{
    width: 45%;
}
.campo img{
    width: 40%;
}
.pagamentopai{
    font-weight: bold;
    width: 19%;
    height: 6em;    
}
.pagamentofilho1{
    color: #FF5839;
    padding: 2em 2em;
   
}
.outros{
    color: #FF5839;
    margin-top: 3em;
}
.pagamento{
    width: 85%;
    height: 1.4em;
    background-color:#133f58;
    margin-top: 1.5em;
    border-radius: 10px;
    margin: 0 auto;
}
.pagamento h5{
    color: #FF5839;
}
.cartao{
    width: 16em;
    height: 10em;
    background-color: #133f58;
    border-radius: 10px;  
    margin-top: 3em;
}
.caixa_cartao{
    margin-top: 0.5em;
}
.caixa_cartao label{
    color: #FF5839;
  
}
.caixa_cartao input{
    border-radius: 10px;
    border: none;
}
.tudo{
    display: flex;
    justify-content: space-around;
}
.botao_reserva{
    padding: 2em 4em;
}
.botao_reserva button{
    width: 9em;
    height: 3em;
    background-color: #FF5839;
    color: #143F59;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
/* fim pagamentos */


/* cadastro */
.caixa_telefone{
    width: 100%;
    display: flex;
    justify-content: center;
}
.caixa_telefone ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;  
    margin-top: 1.7em;  


}
.caixa_telefone a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FF5839;
    padding: 0 1em;
}
hr{
    margin-top: 1.4em;
    color: #133f58;
}
.login_pai{
    width: 100%;
    height: 17em;
}
.login_filho1 input{
    width: 75%;
    height: 3em;
    background-color:#133f58;
    border-radius: 7px;
    border: none;
    margin-top: 3em;
}
.login_filho1 label{
    color: #FF5839;
    font-weight: bold;
}
.conectado_pai{
    color: #FF5839;
    font-weight: bold ;
}
.logar_face{
    width: 100%;
    height: 15em;
}
.credito{
    color: #FF5839;
}
.logar_face h5{
    font-size: 0.8em;
    color: #143f59;
    margin-top: 2em;
}
.logarfilho button{
    width: 75%;
    height: 3em;
    background-color: #FF5839;
    border-radius: 8px;
    border: none;
    margin-top: 3em;
}
.registre-se h5{
    color: #143F59;
}
.registre-se a{
    color: #FF5839;
}
/* fim cadastro */
/* começo cadastro usuario */
.cadastrojp{
    width: 70%;
    height: 40px;
    
    margin-top: 70px;
    margin-left: 60px;
    align-items: center;
    border-radius: 15px;
    

}
.cadastrojp h1{
    
    text-align: center;
    font-size: 20px;
    color: #FF5839;
}
.campojp{
    
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
}
.campojp label {
    color: black;
}
.campo_termos label{
    color: black;
}
.form_cadastro{
    
    padding: 0.5em;
    
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select{
    border: none;
    outline: none;
    border-bottom: solid 1px #FF5839;
    background-color: #133f58;
    width: 50%;
}
.campo_termos{
    margin-top: 20px;
    height: 20px;
    justify-content: unset;
    align-items: center;
    display: block;
    
    border-radius: 15px;
    font-size: 10px;
    
}
.btnjp{
    
    border-radius: 8px;
    color: black;
    margin-top: 30px;
    align-items: center;
    padding: 0.3em 3em;
    
}
/* termino cadastro usuario */
/* começo footer */

footer{
    width: 100%;
    height: 150px;
    background-color: #133f58;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0em;
}
.containerf{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
footer h3{
    font-size: 1.1em;
    text-transform: initial;
    color: #697076;
}
footer h4{
    font-size: 0.9em;
    text-transform: initial;
    color: #697076;
}
footer img{
    width: 2.4em;
}
/* fim */
@media(min-width: 799px){
    header{
        width: 100%;
    }
    #menu{
        display: flex;
        flex-direction: row;
        width: 100%;
        -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
    }
    #menu ul{
        height: 50px;
        
    }
    #menu ul li {
        display: inline; }
    #menu ul li a {
        color: #FF5839;
        font-size: 1.4em;
        padding: 2px 22px;
        display: inline;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .menuweb{
        display: flex;
        background-color: #133f58;
        width: 100%;
        justify-content: center;
        padding: 0.5em ;
    }
    .laranja h1{
        width: 70%;
        padding: 0 2em;
        margin-top: 380px;
        font-size: 2.6em;
}
    .radius h4{
        font-size: 3em;

}
    .laranja h2{
        font-size: 2.4em;
        padding: 0 0 1em 0;
        font-weight: normal;
}
.cadastrojp h1 {
    font-size: 2em; 
}
.campojp label {
    font-size: 1.5em;
}
.campo_termos label{
    font-size: 1.5em;
}
    article div p {
        font-size: 1.5em;
}
    .box{
        height: auto;
    
}
    .botao_menu{
        display: none;
}
    footer h3{
        font-size: 2em;
}
    footer h4{
        font-size: 1.4em;
}
    footer img{
        width: 3em;
}
    footer{
        width: 100%;
        -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
}
    main{
        width: 100%;
    }
        /* pagina login */
        .caixa_telefone{
            margin-top: 60px;
        }
        .logarfilho{
            width: 45%;
            height: 3em;
            margin: auto;
            }
            .login_filho1{
            font-size: 1.5em;
            }
            .logar_face h5{
            font-size: 1.0em;
            color: #133f58;
            margin-top: 3.3em;
            }
            .registre-se h5{
            color: #133f58;
            font-size: large;
            }
            .conectado_pai{
                font-size: 1.2em;
            }
            /*fim pagina login*/
        
        
           /* pagina pagamentos*/
        
            .escolha_aula{
                width: 85%;
                height: 2.3em;
            }
            .escolha_aula h5{
                font-size: 1.3em;
            }
            .escolha_aula p{
                font-size: 1.2em;
            }
            .container_aulas{
             width: 85%;
            height: 7.0em;
            display: flex;
            justify-content: space-evenly;
            }
            .container_aulas img{
            width: 7em;
            height: 4.5em;
            margin-top: 1.3em;
            margin-left: 0.3em;
            }
            .disponiveis{
                height: 2.4em;
            }
            .disponiveis h5{
                font-size: 1.3em;
            }
            .campo-calendario p{
                font-size: 1.4em;
            }
           .campo label{
               font-size: 1.4em;
           }
           .campo-calendario img{
               max-width: 20%;
           }
           .campo{
               margin-right: 5em;
           }
           .campo select{
            width: 16em;
            height: 3.1em;
           }
           .pagamento{
            height:2.4em;
           }
           .pagamento h5{
               font-size: 1.3em;
           }
           .pagamentofilho1{
               width: 6em;
           }
           .credito{
               font-size: 1.3em;
               color: #FF5839;
           }
           .outros{
               font-size: 1.3em;
           }
           .cartao{
            width: 22em;
            height: 13em;
            margin-top: 2em;
           }
           .caixa_cartao label{
               font-size: 1.3em;
               font-weight: bold;
           }
           .caixa_cartao input{
               width: 60%;
               height: 2.0em;
           }
           .botao_reserva button{
            width: 14em;
            height: 3.5em
           }
        /* fim pagina pagamento */


}
@media(min-width: 1365px){
    header{
        width: 100%;
        height: 11em;
        align-items: center;
    }
    .logo{
        width: 26em;
    }
    #menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 80px;
        margin-top: 70px;
        -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
    }
    #menu ul{
        height: 50px;
        
    }
    #menu ul li {
         display: inline; }
    #menu ul li a {
        font-size: 3em;
        margin-right: 10px;
        padding: 2px 170px;
        display: inline;
    }
    .prof_encontrado{
        width: auto;
    }
    main article img{
        width: 7em;
        padding: 0 5em;
    }
    .prof h2{
        font-size: 4em;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .laranja h1{
        font-size: 5em;
        text-align: center;
        margin-top: 16em;
    }
    .laranja h2{
        font-size: 4em;
        text-align: center;
    }
    article div{
        align-items: center;
    }
    article div p {
        font-size: 2.2em;
         padding: 1.4em 0;
         width: 95%;
    }  
    .botao_menu{
        display: none;
    }
    .box{
        border-width: 0.5em;
        border-color: #133f58;
        padding: 6em 0;
        width: auto;
        height: auto;
    }
    .menuweb{
        display: flex;
        background-color: #133f58;
        width: 1366px;
        justify-content: center;
        padding: 0.5em ;
    }
    main{
        width: 100%;
    }
    .valor_nacionalidade{
        height: auto;
    }
    footer{
        width: 100%;
        -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
    }
    footer h3{
        font-size: 2.4em;
    }
    footer h4{
        font-size: 1.9em;
    }
    footer img{
        width: 4em;
    }
    .cadastrojp{
        width: 100%;
        margin-bottom: 3em;
    }
    .cadastrojp h1 {
        font-size: 3em;    
    }
    .campojp{

        justify-content: flex-end;

    }
    .campojp label {
        font-size: 3em;
        margin-right: 20px;
    }
    .form_cadastro{
        width: 75%;
    }
    input[type="text"], input[type="password"], input[type="email"], input[type="date"], select{
        font-size: 3em;
    }
    .campo_termos label {
        font-size: 3em;
    }
      /*pagina cadastro*/
    .caixa_telefone {
        font-size: 3em;
        margin-top: 2em;
    }
    .login_filho1{
        font-size: 3em;
    }
    .login_filho1 input{
     width: 60%;
    height: auto    ;
    font-size: 0.7em;
    margin-top: 1.6em;

    }
    .conectado_pai{
        margin: 2em;
        font-size: 3em;
    }
    .btngradient{
        font-size: 1.1em;
    }
    .logarfilho button{
        width: 60%;
        height: auto;
        font-size: 3em;
        margin-top: auto;
    }

    .logar_face h5{
        font-size: 2.6em;
        color: #143f59;
        margin: 1em;
    }
    .registre-se h5{
        margin: 2em;
        font-size: 2em;
    }
/*fim pagina cadastro*/

/* pagina pagamentos */
.escolha_aula{
 width: 85%;
 height: auto;
    
}
.escolha_aula h5{
    font-size: 3em;
    margin-top: 5em;
    height: auto;
}
.escolha_aula p{
    font-size: 2em;
}
.container_aulas{
 width: 85%;
height: auto;

}
.container_aulas img{
width: 30em;
height: 20em;
margin: 1.3em;
margin-left: 0.3em;
}
.disponiveis{
    height: auto;
}
.disponiveis h5{
    font-size: 3em;
}
.campo-calendario p{
    font-size: 2em;
}
.tudo{
font-size: 2em;
}
.campo label{
   font-size: 2.7em;
}
.campo{
   margin-right: 10em;
   align-items: center;
}
.campo select{
width: 20em;
height: 3.4em;
margin-top: 5em;
}
.campo-calendario img{
    max-width: 15%;
}
.pagamento{
height: auto;}
.pagamento h5{
   font-size: 3em;
}
.pagamentofilho1{
   width: 90%;
   margin-top: 5em;
}
.credito{
   font-size: 1.5em;
   color: #FF5839;
}
.outros{
   font-size: 1.5em;
}
.cartao{
width: 29em;
height: 18em;
margin-top: 3em;
}
.caixa_cartao{
    margin-top: 1.4em;
}
.caixa_cartao label{
   font-size: 1.5em;
   font-weight: bold;
}
.caixa_cartao input{
   width: 68%;
   height: 2.5em;
}
.botao_reserva button{
width: 19em;
height: 3.9em;
font-size: 3em;
}
}
