

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
}
hr{
    border-color: black;
    margin-top: 0.5em;
}
header{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #133f58;
}
.container{
       display: flex;
    align-items: center;
    padding: 0px 10px;
}
header img{
    width: 40px;
    padding: 0px 20px;
}

header .fa-bars{
    color: black;
    display: block;
    font-size: 3em;
}
header .container div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 180px;
}
#menu{
    position: absolute;
    top: 5.5em;
    width: 100%;
    background-color: #133f58;
    left: 0;
    display: none;
}
#menu ul{
    flex-direction: column;
    height: 200px;
    margin-left: 1em;
}
#menu a{
    display: block;
    padding: 0.5em 0;

}


/* Começo Perfil de Usuário */

main{
    /* background-color: #143F59; */
    width: 100%;
    height: 170px;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.descricao{
    background-color:#133f58;
    height: 180px;
}


.descricao h1{
    color: #FF5839;
    justify-content: center;
    font-size:1em;
}

.descricao h2{
    color: #FF5839;
    justify-content: center;
    font-size:1em;

}

.perfil img{
    width: 24%;
    height: 98px;

   
}

.configuracoes img{
   width: 40px;
   height:30px;
   margin-bottom: 2em;
}

.configuracoes{
    justify-content: flex-end;
    display: flex;
}

.opcoes{
    background-color: #FFFBFE;
    width: 100%;
    height: 320px;
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.op{
    background-color: #133f58;
    width: 75%;
    margin: 0.8em;
    border-radius: 0.8em;
    display: flex;
    justify-content: space-between;
}
.op a{
    text-align: right;
    margin-right: 0.4em;
    margin-top: 0.2em;
}

.op img{
    height: 20px;
    justify-content: flex-end;
}


.op h3{
    color: #FF5839;
    font-weight: lighter;
    justify-content: flex-start;
}

.opc{
    background-color: #FF5839;
    width: 75%;
    margin: 0.8em;
    border-radius: 0.8em;
}

.opc h3{
    color:#133f58;
}

.icon{
    height: 22px;
    margin-left: 0.5em;
    margin-top: 0.2em;
}
/*Fim Perfil de Usúario */


/*Página de Cadastro de Professor*/
.caprof{

    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #143F59;
    color:#FF5839;
    width: 90%;
    margin: 10px auto;
    border-radius: 30px;
    box-shadow: 0px 0px 6px black;
    height: 472px;
}
.caprof input{
    background-color: #143F59;
    border: 0px;
    border-bottom: 1px solid #FF5839 ;
    
}
.caprof label{
    color:#FF5839; 
    
}

.cadi{
    font-weight: bold;
}

.termos{
    justify-content: unset;
    align-items: center;
}

.termos input{
    margin-right: 0.5em;
}
.caprof form{
    
    margin:0 auto;
    width: 83%;
}
.caprof div{  
    width: 100%;
    
    text-align: center;
    align-items: center;
    margin-top: 1em;
}

.caprof .neia{
   margin-top: 2em;
}

.caprof h1{
    color: #FF5839;
    font-size: 1em;
    margin-top: 1.3em;
}


.cadi{
    display: flex ;
}

.fin {
    background-color:#FF5839 ;
    width: 90%;
    border-radius: 10em;
   
}
.fin h3{
    color: #143F59;
    align-items: flex-end;
}



/*Fim da Página de Cadastro de Professor*/


/* Página encontre professor */
.filtros{
    height: 100px;
}
main hr{
    border-color: #cccfd1;
}
.prof{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.prof h2{
    margin-left: 0.2em;
    color: black;
    text-transform: initial;
    font-weight: lighter;
}
.professores h2{
    padding: 3em 0;
    text-align: start;
}
.perfil_texto{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.perfil_texto img{
    padding: 1em 0;
}
.valor_nacionalidade{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    padding: -2em;
  
}
main div .prof_encontrado{
    align-items: center;
    border-radius: 10%;
}
main article{
    border-style: solid;
    border-color: black;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: row;
    padding: 1.5em;
    
}
main article p{
    width: 50%;
    height: 90%;
    text-align: justify;
    color: black;
    text-transform: initial;
    font-size: 0.6em;
}
main article h2{
    font-size: 1em;
}
main article img{
    width: 2.5em;
}
article {
    display: flex;
    margin: 1em;
}
.botao_vermais{
    width: 200px;
    height: 3em;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fim página encontre professor */



footer{
    width: 100%;
    height: 200px;
    background-color: #133f58;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin: auto;
}
.containerf{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
footer h3{
    font-size: 1.1em;
    text-transform: initial;
    color: #697076;
}
footer h4{
    font-size: 0.9em;
    text-transform: initial;
    color: #697076;
}
footer img{
    width: 2.4em;
}

@media(min-width:801px){
    main{
        /* background-color: #143F59; */
        width: 100%;
        height: 170px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    
    
    .descricao{
        background-color:#133f58;
        height: 180px;
    }
    
    
    .descricao h1{
        color: #FF5839;
        justify-content: center;
        font-size:1em;
    }
    
    .descricao h2{
        color: #FF5839;
        justify-content: center;
        font-size:1em;
    
    }
    
    .perfil img{
        width: 24%;
        height: 98px;
    
       
    }
    
    .configuracoes img{
       width: 40px;
       height:30px;
       margin-bottom: 2em;
    }
    
    .configuracoes{
        justify-content: flex-end;
        display: flex;
    }
    
    .opcoes{
        background-color: #FFFBFE;
        width: 100%;
        height: 320px;
       justify-content: space-around;
       display: flex;
       flex-direction: column;
       align-items: center;
       
    }
    
    .op{
        background-color: #133f58;
        width: 75%;
        margin: 0.8em;
        border-radius: 0.8em;
        display: flex;
        justify-content: space-between;
    }
    .op a{
        text-align: right;
        margin-right: 0.4em;
        margin-top: 0.2em;
    }
    
    .op img{
        height: 20px;
        justify-content: flex-end;
    }
    
    
    .op h3{
        color: #FF5839;
        font-weight: lighter;
        justify-content: flex-start;
    }
    
    .opc{
        background-color: #FF5839;
        width: 75%;
        margin: 0.8em;
        border-radius: 0.8em;
    }
    
    .opc h3{
        color:#133f58;
    }
    
    .icon{
        height: 22px;
        margin-left: 0.5em;
        margin-top: 0.2em;
    }
}